@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
html {
  font-family: 'PT Sans', sans-serif;
  background-color: white;
  color: black;
  color-scheme: light dark;
  --theme-color: #007FFF;
}
a:link {
  color: var(--theme-color);
}
img {
  max-width: 100%;
}
@media (min-width: 640px) {
  .container {
    margin: 0 12.5% 0 12.5%;
  }
}
@media (prefers-color-scheme: dark) {
  html {
    background-color: black;
    color: white;
  }
}
